@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Figtree", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: hsl(47, 88%, 63%);
}
.card{
    background-color: hsl(0, 0%, 100%);
    border:1px solid black ;
    border-radius: 30px;
    width: 350px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: 480px;
    box-shadow:  5px 5px  0px black;
   
}
.img1{
    border-radius: 30px;
    
}
.text1{
    background-color: hsl(47, 88%, 63%);
    width:fit-content;
    padding: 5px 15px;
    border-radius: 10px;
    margin: 10px 0;
}
.date{
    font-weight: 500;
}
h2{
    margin:15px 0;
    font-weight: 900;
}
.textlast{
    padding-bottom: 20px;
    color:  hsl(0, 2%, 22%);
    font-weight: 500;
}
.info{
    display: flex;
    width: 100%;
    gap: 15px;
    align-items: center;
    font-size: 14px;
}
.img2{
    width: 35px;
   
}
